<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/blog/">
    <link rel="icon" href="static/img/wy_img2.jpg" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>来读一篇文章吧~</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css" id="theme-styles">
</head>
<body>
<div id="singlevm">
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="home/index.html" id="logo">
                    <img src="static/img/logo.png" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="home/index.html">首页</a>
                            </li>
                            <li>
                                <a href="home/about.html">关于我们</a>
                            </li>
                            <li>
                                <a href="home/contact.html">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="#">Blog</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">Bootstrap</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">HTML Template</a>
                </div>


                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>

                            <div class="lead-image">
                                <img src="static/img/single-post.jpg" alt="" class="img-responsive">

                            </div>
                        </header>
                        <div class="body">
                            <h1>十年·肖申克的救赎</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> <a href="'user/index.html?bloggerid='+articleUser.userid">smile</a>
                                <i class="fa fa-calendar"></i>2018/12/28 07:47:56
                                <i class="fa fa-comments"></i>
                                <span class="data">
                                    <a href="#comments">0 Comments</a>
                                </span>
                            </div>距离斯蒂芬·金（Stephen King）和德拉邦特（Frank Darabont）们缔造这部伟大的作品已经有十年了。我知道美好的东西想必大家都能感受，但是很抱歉，我的聒噪仍将一如既往。

在我眼里，肖申克的救赎与信念、自由和友谊有关。

［1］信 念

瑞德（Red）说，希望是危险的东西，是精神苦闷的根源。重重挤压之下的牢狱里呆了三十年的他的确有资格这么说。因为从进来的那一天起，狱长就说过，「把灵魂交给上帝，把身体交给我。」除了他能弄来的香烟和印着裸女的扑克牌，任何其他异动在这个黑暗的高墙之内似乎都无法生长。

然而安迪（Andy）告诉他，「记住，希望是好事——甚至也许是人间至善。而美好的事永不消失。」

所以安迪能够用二十年挖开瑞德认为六百年都无法凿穿的隧洞。当他终于爬出五百码恶臭的污水管道，站在瓢泼大雨中情不自禁的时候，我们仿佛看到信念刺穿重重黑幕，在暗夜中打了一道夺目霹雳。亮光之下，我们懦弱的灵魂纷纷在安迪张开的双臂下现形，并且颤抖。

庸常生活里的我们，似乎已经习惯了按部就班，习惯了先说「那不可能」，习惯了没有奇迹，习惯了，习惯了。可是正如《飞越疯人院》（One Flew over the Cuckcoo’s Nest）中说的那样，「不试试，怎么知道呢？」

试着留住一些信念，在它们丧失殆尽之前。它们也许无法最终实现，也许无法让我们更有意义的活着——甚至对于我自己而言，它们只会愈加带给我来更多的虚无感。然而我知道我有多需要这样的虚伪与自欺，因为你可以说我在做梦，但我不会是仅有的一个。

——我们已经看到监狱长打开藏有安迪凿石锤的《圣经》时，翻至那页正是《出埃及记》。这个章节详细描述了犹太教徒逃离埃及的过程。
版权归作者所有，任何形式转载请联系作者。
作者：大头绿豆（来自豆瓣）
来源：https://movie.douban.com/review/1000369/

</div>
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3>
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> 0 评论</h2>


                            <article class="comment">
                                <header class="clearfix">
                                    <img src="static/img/avatar.png" alt="A Smart Guy" class="avatar">
                                    <div class="meta">
                                        <h3><a href="#">smile</a></h3>
                                        <span class="date">2018-12-28 7:48:45
                                    </span>
                                        <span class="separator">
                                        -
                                    </span>
                                        <a class="reply-link">回复</a>
                                    </div>
                                </header>
                                <div class="body">
                                        一个人可以被毁灭，就是不能打败他。
                                </div>
                            </article>

                                <article class="comment reply">
                                    <header class="clearfix">
                                        <img src="static/img/avatar.png" alt="A Smart Guy" class="avatar">
                                        <div class="meta">
                                            <h3><a href="#">smile</a></h3>
                                            <span class="date">2018/12/28 07:48:58
                                                </span>
                                        </div>
                                    </header>
                                    <div class="body">
                                        我就是那个人
                                    </div>
                                </article>


                        <aside class="create-comment" id="create-comment">
                            <hr>

                            <h2><i class="fa fa-pencil"></i>我想说两句</h2>

                            <form action="servlet/HomeServlet?method=addComment" onsubmit="return check()" method="post">
                                    <input type="hidden" name="userid" value="loginUser.userid">
                                    <input type="hidden" name="articleid" value="article.articleid">
                                    <input type="hidden" name="where" value="0">
                                <textarea rows="4" name="commentcontent" id="comment-body" placeholder="Your Message" class="form-control input-lg"></textarea>
                                <div class="buttons clearfix">
                                    <button type="submit" class="btn btn-xlarge btn-clean-one" >提交评论</button>
                                </div>
                            </form>
                        </aside>
                </div>
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>最热门文章</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                    <li><a href="template\html\article_4.html">杨幂刘恺威离婚，公公一直保护儿媳到最后，他才是受伤最重的人！</a></li>
                                    <li><a href="template\html\article_7.html">教父</a></li>
                                    <li><a href="template\html\article_9.html">2016 年里约奥运会，joseph schooling 击败菲尔普斯，拿下了新加坡建国以来的首个金牌</a></li>
                                    <li><a href="template\html\article_10.html">我是金并，我有一句mmp我现在就要说。</a></li>
                                    <li><a href="template\html\article_11.html">《网络迷踪》中蕴含的魔鬼细节</a></li>
                                    <li><a href="template\html\article_12.html">十年·肖申克的救赎</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>最新发表文章</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">

                                    <li><a href="template\html\article_27.html">哈利·波特与死亡圣器</a></li>
                                    <li><a href="template\html\article_26.html">让子弹飞</a></li>
                                    <li><a href="template\html\article_25.html">盗梦空间</a></li>
                                    <li><a href="template\html\article_7.html">教父</a></li>
                                    <li><a href="template\html\article_9.html">2016 年里约奥运会，joseph schooling 击败菲尔普斯，拿下了新加坡建国以来的首个金牌</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>About</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi laboriosam nostrum consequatur fugiat at, labore praesentium modi, quasi dolorum debitis reiciendis facilis, dolor saepe sint nemo, earum molestias quas.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, error aspernatur assumenda quae eveniet.</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent Post</h3>
                        <ul class="clean-list">
                            <li><a href="">Clean - Responsive HTML5 Template</a></li>
                            <li><a href="">Responsive Pricing Table</a></li>
                            <li><a href="">Yellow HTML5 Template</a></li>
                            <li><a href="">Blackor Responsive Theme</a></li>
                            <li><a href="">Portfolio Bootstrap Template</a></li>
                            <li><a href="">Clean Slider Template</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis excepturi tempore explicabo.</p>
                        <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            Copyright 2015
        </div>
    </footer>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script>
    function check(){
        if(isLogin == 0){
            alert("请先登录再评论")
            return false;
        }
        return true;
    }
</script>

</body>
</html>