<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/blog/">
    <link rel="icon" href="static/img/wy_img2.jpg" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>来读一篇文章吧~</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css" id="theme-styles">
</head>
<body>
<div id="singlevm">
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="home/index.html" id="logo">
                    <img src="static/img/logo.png" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="home/index.html">首页</a>
                            </li>
                            <li>
                                <a href="home/about.html">关于我们</a>
                            </li>
                            <li>
                                <a href="home/contact.html">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="#">Blog</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">Bootstrap</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">HTML Template</a>
                </div>


                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>

                            <div class="lead-image">
                                <img src="static/img/single-post.jpg" alt="" class="img-responsive">

                            </div>
                        </header>
                        <div class="body">
                            <h1>让子弹飞</h1>
                            <div class="meta">
                                <i class="fa fa-user"></i> <a href="'user/index.html?bloggerid='+articleUser.userid">fish</a>
                                <i class="fa fa-calendar"></i>2019/01/05 06:59:03
                                <i class="fa fa-comments"></i>
                                <span class="data">
                                    <a href="#comments">0 Comments</a>
                                </span>
                            </div>&nbsp;<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp; &ldquo;由于对姜文过于卑躬屈膝，厚颜无耻的吹捧，该影评已被和谐。&rdquo;</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">这句是我在去看电影之前，已经准备好的影评（还是抄来的）。</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吾辈俗人，花钱去影院只图消遣。回来吹吹水，网上吐吐槽。严肃客观的评价电影于我如浮云，就是带着这么强烈的偏见去看的电影。国产片导演就那么几位。考虑到他们近年的发挥惊人地稳定， 吾辈观影前，早已选择好了态度。</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;比如赵氏孤儿，陈凯歌肯定给我们带来悲剧。他就活在自己的那点小悲剧情怀里，老想拍一悲剧，还肯定又玩现了，整个一纯悲剧。我们买了电影票，聚精会神地盯着屏幕，唯恐事后骂得不够尖刻戏谑不够振聋发聩。 再比如让子弹飞， 姜文肯定给我们带来惊喜。我们买了电影票，就等着让他TMD给我们翻译翻译什么叫TMD的惊喜。 看不懂，就说这片真有深度，可惜太小众了。 看懂了，便把他当神来捧，唯恐自己的态度不够卑贱，拜倒得不够迅猛。 只恨&ldquo;愿为姜文门下走狗&rdquo;这种结构已在王小波徐文长身上用滥了。</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人总是渴求被认同。所谓&ldquo;人生得一知己，死而无憾&rdquo;，描绘的就是这种渴求被满足时的快感。人性若此，无以抗衡。这群大导演大玩家，亦不能脱俗，只是口味略有偏好。冯小刚张艺谋什么的活明白了，追求票房认同。陈凯歌自负才华，追求带点文艺腔的装B青年的认同。吾辈小装青年，层次低，为与不装B的大众拉开差距，大家紧紧抱成鸡蛋状，追求蛋内认同，人称蛋同。还有些大装青年，最爱唱反调，追求与小装们拉开差距，显得层次高，自会有人贴过来膜拜他们，叫他们大神。</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姜文拍电影，也图个被认同。他的四部风格各异的电影，都有强烈的自我表达欲望。每一个片中的&ldquo;我&rdquo;，包括夏雨演的，都是他内心的部分投射。其前三部电影表现出来的选本、选角的眼光，节奏、镜头的把握，讲故事谈思想的水平等硬实力，在吾等小青年心中已然封神入圣。但姜文不满足，他追求更广阔的认同。《鬼来》被禁，《太阳》票房不佳，这些不认同的声音在姜文心里絮絮叨叨挥之不去。</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">两年多后，姜文射出来的，是经过精心构化，寻求破局的子弹。他的野心是得到同行，大众，小青年，大神和官府共同的认同。一言以蔽之：</span><br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
<span style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">我姜文，&ldquo;站着&rdquo;也能把钱赚了。&nbsp;</span></div>
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3>
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> 0 评论</h2>




                        <aside class="create-comment" id="create-comment">
                            <hr>

                            <h2><i class="fa fa-pencil"></i>我想说两句</h2>

                            <form action="servlet/HomeServlet?method=addComment" onsubmit="return check()" method="post">
                                    <input type="hidden" name="userid" value="loginUser.userid">
                                    <input type="hidden" name="articleid" value="article.articleid">
                                    <input type="hidden" name="where" value="0">
                                <textarea rows="4" name="commentcontent" id="comment-body" placeholder="Your Message" class="form-control input-lg"></textarea>
                                <div class="buttons clearfix">
                                    <button type="submit" class="btn btn-xlarge btn-clean-one" >提交评论</button>
                                </div>
                            </form>
                        </aside>
                </div>
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>最热门文章</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                    <li><a href="template\html\article_4.html">杨幂刘恺威离婚，公公一直保护儿媳到最后，他才是受伤最重的人！</a></li>
                                    <li><a href="template\html\article_7.html">教父</a></li>
                                    <li><a href="template\html\article_9.html">2016 年里约奥运会，joseph schooling 击败菲尔普斯，拿下了新加坡建国以来的首个金牌</a></li>
                                    <li><a href="template\html\article_10.html">我是金并，我有一句mmp我现在就要说。</a></li>
                                    <li><a href="template\html\article_11.html">《网络迷踪》中蕴含的魔鬼细节</a></li>
                                    <li><a href="template\html\article_12.html">十年·肖申克的救赎</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>最新发表文章</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">

                                    <li><a href="template\html\article_27.html">哈利·波特与死亡圣器</a></li>
                                    <li><a href="template\html\article_26.html">让子弹飞</a></li>
                                    <li><a href="template\html\article_25.html">盗梦空间</a></li>
                                    <li><a href="template\html\article_7.html">教父</a></li>
                                    <li><a href="template\html\article_9.html">2016 年里约奥运会，joseph schooling 击败菲尔普斯，拿下了新加坡建国以来的首个金牌</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>About</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi laboriosam nostrum consequatur fugiat at, labore praesentium modi, quasi dolorum debitis reiciendis facilis, dolor saepe sint nemo, earum molestias quas.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, error aspernatur assumenda quae eveniet.</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent Post</h3>
                        <ul class="clean-list">
                            <li><a href="">Clean - Responsive HTML5 Template</a></li>
                            <li><a href="">Responsive Pricing Table</a></li>
                            <li><a href="">Yellow HTML5 Template</a></li>
                            <li><a href="">Blackor Responsive Theme</a></li>
                            <li><a href="">Portfolio Bootstrap Template</a></li>
                            <li><a href="">Clean Slider Template</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis excepturi tempore explicabo.</p>
                        <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            Copyright 2015
        </div>
    </footer>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/modernizr.js"></script>
<script>
    function check(){
        if(isLogin == 0){
            alert("请先登录再评论")
            return false;
        }
        return true;
    }
</script>

</body>
</html>